.md-typeset code:not(pre code) {
    font-size: inherit;
  }
  
  .md-typeset .admonition, .md-typeset details {
    font-size: 0.7rem;
  }

/* :root {
  --md-primary-fg-color:        #B1CBF4;
  --md-primary-fg-color--light: #B1CBF4;
  --md-primary-fg-color--dark:  #B1CBF4;
}
 */
